<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         processIsolation="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
        <testsuite name="Feature">
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source
        ignoreSuppressionOfDeprecations="true"
        ignoreIndirectDeprecations="true"
    >
        <include>
            <directory>src</directory>
        </include>
    </source>

    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
    </extensions>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="EXPLORATOR_TESTING" value="1"/>
        <env name="FIXTURE_SCHEMA_METADATA" value="tests/schema.php"/>
    </php>
</phpunit>
